projet3_nodered.json
[
    {
        "id": "3d7e2c6c6cb57c55",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7476ddc5c513c3b9",
        "type": "ui_group",
        "name": "Meteo Paris",
        "tab": "4408e8155f34b9f4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4408e8155f34b9f4",
        "type": "ui_tab",
        "name": "Projet 3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b61efb7ebdcea9dc",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8961e2074bd5a7a1",
        "type": "ui_group",
        "name": "CPU Temp",
        "tab": "4408e8155f34b9f4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb7c2b906c11adfa",
        "type": "debug",
        "z": "3d7e2c6c6cb57c55",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 40,
        "wires": []
    },
    {
        "id": "478d8481d514aef8",
        "type": "inject",
        "z": "3d7e2c6c6cb57c55",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "2c9087a3cee15fd5"
            ]
        ]
    },
    {
        "id": "476706c0af8272b7",
        "type": "ui_gauge",
        "z": "3d7e2c6c6cb57c55",
        "name": "",
        "group": "8961e2074bd5a7a1",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temp",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "85",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "8636547dad524574",
        "type": "function",
        "z": "3d7e2c6c6cb57c55",
        "name": "",
        "func": "msg.payload=Number(msg.payload)/1000 + \"°C\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "f8810936af31654b",
                "476706c0af8272b7"
            ]
        ]
    },
    {
        "id": "f8810936af31654b",
        "type": "ui_text",
        "z": "3d7e2c6c6cb57c55",
        "group": "8961e2074bd5a7a1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temp :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "2c9087a3cee15fd5",
        "type": "exec",
        "z": "3d7e2c6c6cb57c55",
        "command": "cat /sys/class/thermal/thermal_zone0/temp",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Accès à la température interne du CPU",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "8636547dad524574",
                "cb7c2b906c11adfa"
            ],
            [],
            []
        ]
    },
    {
        "id": "61a6f00418f54969",
        "type": "http request",
        "z": "3d7e2c6c6cb57c55",
        "name": "Meteo Paris API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "api.openweathermap.org/data/2.5/weather?q=paris&appid=69e73f89fcd459723084724df2db9efe",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 340,
        "y": 560,
        "wires": [
            [
                "580e16e7ecb54379"
            ]
        ]
    },
    {
        "id": "113a6c2c549f2fd3",
        "type": "inject",
        "z": "3d7e2c6c6cb57c55",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "61a6f00418f54969"
            ]
        ]
    },
    {
        "id": "1c4f3b4dd2dd953e",
        "type": "debug",
        "z": "3d7e2c6c6cb57c55",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 460,
        "wires": []
    },
    {
        "id": "580e16e7ecb54379",
        "type": "function",
        "z": "3d7e2c6c6cb57c55",
        "name": "",
        "func": "msg.payload=msg.payload.main.temp - 273.15;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 560,
        "wires": [
            [
                "1c4f3b4dd2dd953e",
                "078142e3b2a74f3a"
            ]
        ]
    },
    {
        "id": "078142e3b2a74f3a",
        "type": "ui_chart",
        "z": "3d7e2c6c6cb57c55",
        "name": "",
        "group": "7476ddc5c513c3b9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Température Paris",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 580,
        "wires": [
            []
        ]
    }
]